<!DOCTYPE html>
<html>
<head>
  <title>Reservation Error</title>
</head>
<body>
  <h1>Reservation Error</h1>
  <p>An error occurred while processing your reservation. Please try again later.</p>
</body>
</html>
